<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank You! Please rate your service</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/yacht.png" alt="Yacht" class="logo" />
      <!-- @todo - message -->
      <h1>Thank You!</h1>
      <h2>Thank you for rating your experience. We hope to see you soon!</h2>
      <h3>Customer Name</h3>
      <input
        type="text"
        name"customer"
        placeholder="Name of yacht owner"
      />
    </div>
  </body>
</html>